
.payone-cc-icon {
    width: auto;
    height: 20px;
    display: inline;
    padding: 5px;
    box-sizing: content-box;
    border: 2px solid transparent;
    border-radius: 5px;
}

.payone-cc-icon--clickable:hover {
    cursor: pointer;
}

.payone-cc-icon--selected {
    border: 2px solid #f25620;
    border-radius: 5px;
}

.payone-cc-icon--hidden {
    display: none;
}

#payone-cc-auto-detection-messages {
    display: none;
    margin-bottom: 2em;
    max-width: 500px;
}

.payone-auto-cc-detection-message {
    color: #f25620;
}
